*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgcolor: #1e1e1e;
    --cardcolor: #2b2b2b;
    --maincolor: white;
    --textcolor: white;
}



body{
    min-height: 100vh;
    background: var(--bgcolor);
    color: var(--textcolor);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    padding: 25px;
    background-color: var(--maincolor);
}

header h1{
    margin-bottom: 10px;
}
main{
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}
.session-info{
    background: var(--cardcolor);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.session-info h2{
    margin-bottom: 15px;
}
button{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background-color: var(--maincolor);

    font-weight: bold;
}
.char-section{
    background: var(--cardcolor);

    padding: 30px;

    border-radius: 10px;
}
#playerList,
#monsterList,
#npcList{
    margin-top: 20px;
}
.char-card{
    background-color: rgba(255, 255, 255, 0.05);
    border-left: 5px solid var(--maincolor);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

body.dnd{
    --bgcolor: #2a0c0c;
    --cardcolor: #411212;
    --maincolor: #8b0000;
    --textcolor: white;
}

body.cthulhu{
    --bgcolor: #0d1b12;
    --cardcolor: #183020;
    --maincolor: #3f8f5f;
    --textcolor: white;
}

body.tormenta{
    --bgcolor: #1d1029;
    --cardcolor: #32194d;
    --maincolor: #8c52ff;
    --textcolor: white;
}

body.cyberpunk{
    --bgcolor: #111111;
    --cardcolor: #202020;
    --maincolor: #ff003c;
    --textcolor: white;
}

.hidden{
    display: none;
}

#charForm{
    margin: 20px 0;
    padding: 15px;
    background: rgba(255,255,255,0.05);
    border-radius: 8px;
}

#charForm input,
#charForm select{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}